<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AAM ChatBot</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
    <span class="main-content">
      <header>
      </header>
      <div class="messages">
      </div>
      <div class="btns">
      </div>
  </span>
</body>

</html>
