.btns {
  position: fixed;
  bottom: 01vh;
  left: 10vw; }
  .btns button {
    display: block;
    width: 80vw;
    background-color: white;
    height: 7vh;
    color: #0084FF;
    border: none;
    font-size: 5vw;
    margin-top: 2vh; }

input[type='text'] {
  position: fixed;
  bottom: -44vh;
  left: 20vw;
  background-color: #FFFFFF;
  font-size: 4vw;
  border: .1vw solid #D1D0D1;
  padding: 2vh 0vw 2vh 0vw;
  border-radius: 8vw;
  transition: bottom .8s;
  width: 60vw;
  text-align: center; }
  input[type='text']:focus {
    outline: none; }
  input[type='text']::-webkit-input-placeholder {
    color: #d1d1d1; }
  input[type='text']:-ms-input-placeholder {
    color: #d1d1d1; }
  input[type='text']::placeholder {
    color: #d1d1d1; }

.send {
  position: fixed;
  bottom: 2vh;
  right: -22vw;
  height: 7vh;
  transition: right .3s; }

.header {
  width: 100vw;
  height: 0vh; }

.messages {
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.new-hire-img {
  width: 62vw;
  padding-left: 19vw;
  padding-top: 2vh; }

.bot-message img {
  width: 7vw;
  padding-right: 6vw;
  padding-left: 4vw;
  vertical-align: bottom; }

.bot-text {
  border: 0.1vh solid #E72635;
  border-radius: 4vw;
  padding: 10px;
  font-size: 3.4vw;
  width: 58vw;
  display: inline-block; }

body {
  margin: 0;
  background: linear-gradient(#FFFFFF, #F0EDF2);
  font-family: 'Heebo', sans-serif;
  height: 100vh;
  width: 100vw; }

.cover {
  background-color: black;
  width: 100vw;
  height: 100vh;
  text-align: center; }
  .cover p {
    color: white;
    padding-top: 50vh; }
