.btns {
  position: fixed;
  bottom: 4vh;
  left: 10vw; }
  .btns button {
    display: block;
    width: 80vw;
    background-color: white;
    height: 7vh;
    color: #0084FF;
    border: none;
    font-size: 5vw;
    margin-bottom: 2vh; }

input[type='text'] {
  position: fixed;
  bottom: 0;
  left: -128vw;
  background-color: #FFFFFF;
  font-size: 6vw;
  border: .1vw solid #979797;
  color: #BCBCBC;
  padding: 2vh 0vw 2vh 7vw;
  border-radius: 0vw 10px 10px 0vw;
  transition: left .8s;
  width: 50vw; }

.send {
  position: fixed;
  bottom: 1vh;
  right: -22vw;
  height: 7vh;
  transition: right .3s; }

.header {
  width: 100vw; }

body {
  margin: 0;
  background: linear-gradient(#FFFFFF, #F0EDF2);
  font-family: 'Heebo', sans-serif;
  height: 100vh; }
