.btns {
  position: fixed;
  bottom: 0vh; }
  .btns button {
    display: block;
    width: 100vw;
    background-color: grey;
    height: 10vh;
    font-size: 6vw; }

body {
  margin: 0; }

.main-content {
  display: none;
  height: 100vh; }

header {
  background-color: grey;
  height: 14vh; }
