.btns
  position: fixed
  bottom: 01vh
  left: 10vw
  z-index: 0
  button
    display: block
    width: 80vw
    background-color: white
    height: 7vh
    color: $siteBlue
    border: none
    font-size: 5vw
    margin-top: 2vh
    border-radius: 10px
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35)
