input[type='text']
  position: fixed
  bottom: -44vh
  left: 20vw
  background-color: #FFFFFF
  font-size: 4vw
  border: .1vw solid #D1D0D1
  padding: 2vh 0vw 2vh 0vw
  border-radius: 8vw
  transition: bottom .8s
  width: 60vw
  text-align: center
  box-shadow: inset 5px 4px 5px 0px #D1D0D1
  z-index: -1
  &::placeholder
    color: #d1d1d1

.send
  position: fixed
  bottom: 2vh
  right: -22vw
  height: 7vh
  transition: right .3s
