.messages
  padding-top: 3vh
  display: flex
  flex-direction: column-reverse

.new-hire-img
  width: 80vw
  padding-left: 10vw
  padding-top: 2vh

.bot-message
  img
    width: 7vw
    padding-right: 6vw
    padding-left: 4vw
    vertical-align: bottom
.bot-text
  border: .1vh solid $siteRed
  border-radius: 4vw
  padding: 10px
  font-size: 3.4vw
  width: 58vw
  display: inline-block
