@import "mixins"
@import "buttons"
@import "form"
@import "header"
@import "messages"

body
  margin: 0
  background: linear-gradient($siteWhite, $gradientPurp)
  font-family: 'Heebo', sans-serif
  height: 100vh
